<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Заказ успешно оплачен!</h2>
        <p>Вы можете посмотреть свои заказы в корзине своего профиля.</p>
        <hr />
        <p>Благодарим за покупку!</p>
    </div>
</div>